:root {
    --ToDo: #eb2a08;
}

.accordion_display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion_size {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 100px 16px 0;
}

.spacer {
    flex: 1 0 auto;
}

.btnDone {
    background-color: #5c9b1e;
    color: #ffffff;
}

.btnInProgress {
    background-color: #df7b0a;
    color: #ffffff;
}

.btnToDo {
    background-color: #eb2a08;
    color: #ffffff;
}

.btnSelectDone {
    color: #5c9b1e;
}

.btnSelectInProgress {
    color: #df7b0a;
}

.btnSelectToDo {
    color: #eb2a08;
}

.mat-icon {
    padding-right: 15px;
}

.mat-icon:hover {
    color: #dc143c;
    cursor: pointer;
}